
<h2>Chat</h2>
<form id="formulario">
    user: <input type="text" name="user" id="user">
    Message: <input type="text" name="message" id="message">
    <input type="submit" value="ENVIAR">
</form>
<div id="respuestas">
    {{#each message}}
        <p>{{this.user}}: {{this.message}}</p>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>