<head>
    <link rel="stylesheet" href="/estilos/login.css">
</head>
<div class="container">
    {{#if value}}
    <h2>Se creó con exito el usuario {{username}}, ya puede ingresar.</h2>
    {{/if}}
    <form action="/api/login" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control username" name="username" id="username">
        </div>
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control username" aria-describedby="passwordHelpBlock">
        <button type="submit" class="btn btn-info login">Ingresar</button>
    </form>
    <button onclick="location.href='/api/users/githubSignup'" type="button" class="btn btn-info">Ingresar por Git-hub</button>
    <div><button onclick="location.href='/signup'" type="button" class="btn btn-info registro">Registrarse</button></div>
</div>