<h2>Restaurar contraseña</h2>
<form action="/api/messages/newpassword" method="post">
    Contraseña actual: <input type="text" name="old_password" id="contraseña" placeholder="contraseña actual">
    Nueva contraseña: <input type="text" name="new_password" placeholder="contraseña nueva">
    <input type="submit" value="Cambiar contraseña">
</form>
