<form action="/api/users/signup" method="post">
    First Name: <input type="text" name="first_name" id="first_name">
    Last name: <input type="text" name="last_name" id="last_name">
    Username: <input type="text" name="user_name" id="username">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="signup">
</form>